<form action="/p/<%= @page.permalink %>/edit" method="post" class="form-stacked">
    <textarea id="edit-content" class="xlarge" name="content"><%= @page.raw %></textarea>		
	<input type="submit" value="Save page" class="btn primary small">
</form>
